<div class="add-album-form">
    <Input type="text" placeholder="Title" @value={{this.title}} />
    <Input type="text" placeholder="Artist" @value={{this.artist}} />
    <Input type="number" placeholder="Release Date" @value={{this.releaseDate}} />
    <Input type="text" placeholder="Picture Url" @value={{this.albumArtUrl}} />
    <button {{action "addAlbum"}}>Add Album</button>
</div>

<div class="search-form">
    <Input type="text" placeholder="Search" @value={{this.searchTerm}} />
    <button {{action "clearSearch"}}>Clear Search</button>
    |
    <button {{action "swapAlbums"}}>Swap</button>
    <button {{action "highlightMostFrequentArtist"}}>Highlight Most Frequent Artist</button>
    |
    <button {{action "randomAlbum"}}>Show Random Album</button>
</div>


<table>
    <thead>
        <tr>
            <td>Title <ToggleButton @clicked={{action "sort" "title"}}></ToggleButton></td>
            <td>Artist <ToggleButton @clicked={{action "sort" "artist"}}></ToggleButton></td>
            <td>Release Date <ToggleButton @clicked={{action "sort" "releaseDate"}}></ToggleButton></td>
            <td>Picture</td>
            <td></td>
        </tr>
    </thead>

    <tbody>
        {{#each (albums-filter this.albums this.searchTerm) as |album index|}}
            <tr class="{{if (equals album.artist this.mostFrequentArtist) 'most-frequent-artist'}}">
                <td>{{album.title}}</td>
                <td>{{album.artist}}</td>
                <td>{{album.releaseDate}}</td>
                <td>
                    <img class="album-pic" src="{{album.albumArtUrl}}" alt="{{album.title}} pic" />
                </td>
                <td><button {{action "deleteAlbum" index}}>x</button></td>
            </tr>
        {{/each}}
    </tbody>
</table>